In [2]:
#Important notes: All those greater than 5 had consensus.
import numpy as np
from IPython.core.display import HTML
import json
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

## THIS IS THE FINAL JUN 8 at 3
finaltaskusdf = pd.DataFrame()
finallocdf = pd.DataFrame()
data = {}
all_df= []
df_s = pd.DataFrame()
files =  ['au-extracted.json','it-extracted.json', 
          'fr-extracted.json','gb-extracted.json',
             'ca-extracted.json', 'us-extracted.json']
              

for file_num, file_name in enumerate(files):
    data = {}
    print(str(file_name))
    n=0
    with open('/Users/kimia/Documents/Work5/sprint614/' + str(file_name)) as f:
            
                for line in f:
                    try:

                        data.update(json.loads( line.rstrip('\n')))
                        all_df.append(data)

                        taskusedits = pd.Series(data['data']['extraction']['payload']).to_frame().T
                        taskusedits['id'] = (data['uri'])
                        taskusedits['file'] = str(file_name)

                        locdf = pd.Series(data['data']['extraction']['rawPayload']).to_frame().T
                        locdf['id'] = (data['uri'])
                        locdf['file'] = str(file_name)


                        finaltaskusdf = pd.concat([taskusedits, finaltaskusdf], axis=0)
                        finallocdf = pd.concat([locdf, finallocdf], axis=0)
       
                    except:

                        n = n+1
                        print(n)
finallocdf['id'] = finallocdf['id'].apply(lambda x: int(x[-6:]))
finaltaskusdf['id']= finaltaskusdf['id'].apply(lambda x: int(x[-6:]))
print(finallocdf.columns)
print(finaltaskusdf.columns)
## THIS WORK!! 1:36 JUN 7
data = {}
df_s = pd.DataFrame()
files = ['ca-seed-inputs.json' ,
             'it-seed-inputs.json', 'us-seed-inputs.json', 'au-seed-inputs.json', 
             'gb-seed-inputs.json' , 
             'fr-seed-inputs.json']
for file_num, file_name in enumerate(files):

    print(str(file_name)+"  i")
    with open('/Users/kimia/Documents/Work5/sprint614/' + str(file_name)) as f:
        
        
        for line in f:
            data.update(json.loads( line.rstrip('\n')))
            #print(data['data']['extraction']['inputMeta'])

            d1 = pd.Series(data['data']['extraction']['inputMeta']).to_frame().T 
        
            d1['file'] = str(file_name)
            df_s = pd.concat([df_s, d1], axis=0)
print(df_s.columns)       
result = (pd.merge(df_s,finaltaskusdf, on = ['id'])) # correct merge: (result.file_x == result.file_y)

from urllib.parse import urlparse
result['cleansite'] =result['website'].apply(lambda x: urlparse(str(x)).netloc)
result['cleansite'] =result['cleansite'].apply(lambda x: (str(x).replace("www.", "")))
result['cleanadd'] = (result.address).apply(lambda x: str(x).lower())
result['cleanname'] = (result.name).apply(lambda x: str(x).lower())
result['cleantel'] = result['tel'].apply(lambda x: ((str(x).replace(" ", ""))))
result['cleantel'] = result['cleantel'].apply(lambda x: ((str(x).replace(")", ""))))
result['cleantel'] = result['cleantel'].apply(lambda x: ((str(x).replace("(", ""))))
result['cleantel'] = result['cleantel'].apply(lambda x: ((str(x).replace("-", ""))))
print(result.columns)

au-extracted.json
it-extracted.json
fr-extracted.json
1
gb-extracted.json
1
2
3
4
5
ca-extracted.json
1
2
us-extracted.json
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
Index(['address', 'category_ids', 'country', 'file', 'id', 'locality', 'name',
       'postcode', 'region', 'tel', 'website'],
      dtype='object')
Index(['_original_category', '_records_touched', 'address', 'address_accuracy',
       'address_extended', 'address_type_code', 'admin_region', 'alcohol',
       'alcohol_bar', 'alcohol_beer_wine', 'category_ids', 'country',
       'cuisine', 'current', 'file', 'id', 'languages', 'locality',
       'melissa_address_key', 'melissa_code', 'name', 'og_address', 'po_box',
       'post_town', 'postcode', 'raw_address', 'rbdi', 'region', 'tel', 'type',
       'website'],
      dtype='object')
ca-seed-inputs.json  i
it-seed-inputs.json  i
us-seed-inputs.json  i
au-seed-inputs.json  i
gb-seed-inputs.json  i
fr-seed-inputs.json  i
Index(['id', 'sourceUrl', 'task_id', 'user_id', 'file'], dtype='object')
Index(['id', 'sourceUrl', 'task_id', 'user_id', 'file_x', '_original_category',
       '_records_touched', 'address', 'address_accuracy', 'address_extended',
       'address_type_code', 'admin_region', 'alcohol', 'alcohol_bar',
       'alcohol_beer_wine', 'category_ids', 'country', 'cuisine', 'current',
       'file_y', 'languages', 'locality', 'melissa_address_key',
       'melissa_code', 'name', 'og_address', 'po_box', 'post_town', 'postcode',
       'raw_address', 'rbdi', 'region', 'tel', 'type', 'website', 'cleansite',
       'cleanadd', 'cleanname', 'cleantel'],
      dtype='object')

columnsz = ['_records_touched',
 'address',
 'address_accuracy',
 'address_extended',
 'address_type_code',
 'admin_region',
 'alcohol',
 'alcohol_bar',
 'alcohol_beer_wine','country',
 'cuisine',
 'current',
 'file_y',
 'locality',
 'melissa_address_key',
 'melissa_code',
 'name',
 'og_address',
 'po_box',
 'post_town',
 'postcode',
 'raw_address',
 'rbdi',
 'region',
 'tel',
 'type',
 'website',]
final = pd.DataFrame()
accuracydict={}
for number,country in enumerate(result.file_x.unique()):
    for i, v in enumerate(columnsz): 
        cunt = result
        lowagreement = cunt.groupby([ 'task_id',str(v)]).size().to_frame(name = 'count').reset_index()
        df4agree = (lowagreement[lowagreement['task_id'].duplicated(keep=False)])
        perc5 = ( len(df4agree[df4agree['count'] ==4].task_id.unique())/len(result.task_id.unique()))
        percent = ({str(v):perc5})
        accuracydict.update(percent)

    all_perc_disagree = pd.Series(accuracydict).to_frame().sort_values([0],ascending = True)
    all_perc_disagree.columns = [(str(country[0:2])).upper()]
    final = pd.concat([all_perc_disagree, final], axis=1)
    #print("% disagreement by column in ",str(country[0:2]) )
print("    MODERATION: % there is consensus among 5 on a POI, by field input")
display(HTML(((final).to_html())))
final.rename(index={'cleanadd': 'Address','cleanname': 'Name' , 'cleansite':'Website', 'cleantel': 'Tel'})

In [3]:
result.file_y = result.file_y.apply(lambda x: str(x)[0:2])

In [15]:

######## new file
import numpy as np
from IPython.core.display import HTML
import json
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from collections import Counter





attribute = 'cleanname'

## determine when there is 100% consensus or all but one (usually 80%)
## --->>> 5 people don't always annotate it, so it's better to do %. 
def consensus_on_an_attribute(df, attribute):
    consensus_metric = df.groupby([ 'task_id', str(attribute)]).size().to_frame(name = 'consensus').reset_index()
    total_annotators = df.groupby([ 'task_id', ]).size().to_frame(name = 'total').reset_index()
    consensus_metric = pd.merge(consensus_metric,total_annotators, on='task_id' )
    consensus_metric['%_consensus'] = consensus_metric['consensus']/consensus_metric['total']
    consensus_metric_4ormore = consensus_metric[consensus_metric['%_consensus'] > .7][['task_id', str(attribute)]]
    return consensus_metric_4ormore

### example
#attribute = 'cleanname'
#consensus_on_an_attribute(df, attribute)

In [ ]:
# new file

## when we iterate over all of the attributes, we can see that not all attributes get filled.
#### for example, one task_id may have consensus on name, but not on address. 
## therefore, we depend on top performers to make the difference


#who are the top people?

test = result.groupby([ 'unique', str('annotation')]).size().to_frame(name = 'count').reset_index()

consen = (test[test['count']>4])

consen = pd.merge(consen, dfpayloads, on='unique', how='left')

#count number of times consensus
cnt = Counter()
for word in list(consen.user_id):
     cnt[word] += 1

d={}

for key, value in cnt.items():
    d[key] = value

#count number of times total
cnt = Counter()
for word in list(dfpayloads['user_id']):
     cnt[word] += 1

t={}

for key, value in cnt.items():
    t[key] = value
## merge the two
d = pd.DataFrame.from_dict(d, orient='index').reset_index()
t = pd.DataFrame.from_dict(t, orient='index').reset_index()
final = pd.merge(d,t , on = 'index')
final['%'] = final['0_x']/final['0_y']
final.sort_values(['%'], ascending = False)
final = final.rename(columns={"index": "user_id"})
final["user_id"] = final["user_id"].apply(lambda x: int(x))

## top people
top15 = list(final.sort_values(['%'], ascending = False).user_id[0:15])

In [3]:
df_4_Yenny = pd.DataFrame()

for i,v in enumerate(['cleanname', 'cleantel', 'cleansite', 'cleanadd', 'postcode', 
                      'locality','region', 'country', ]): 
    df = result.fillna('nan')
    #df.file_y = df.file_y.apply(lambda x: str(x)[0:2])
    df['category_ids'] = df['category_ids'].apply(lambda x: str(x)[1:-1])
    jk = df.groupby([ 'task_id', str(v)]).size().to_frame(name = 'count').reset_index()
    jk = jk[jk['count']==4]
    
    con4df = result[result['task_id'].isin(list(jk.task_id.unique()))] # pull only those with 4 consensus 
    con4df = con4df.groupby([ 'task_id', str(v)]).size().to_frame(name = 'count').reset_index()
    singleout = con4df[con4df['count']==1]
    singleout = pd.merge(singleout,result, on =['task_id', (str(v))],  how = 'left')
    
    print(singleout[singleout.task_id ==59338]['cleanname'])
    
    result['unique'] = (result.task_id).apply(lambda x: str(x)) + (result.user_id).apply(lambda x: str(x))
    singleout['unique'] = (singleout.task_id).apply(lambda x: str(x)) + (singleout.user_id).apply(lambda x: str(x))
    
    
    ## rid DF of poor options
    tasks_to_delete = list(singleout['unique'].unique())
    df = result
    for i,unique_id in enumerate(tasks_to_delete): 

        df = df[df['unique'] != (str(unique_id))]
    df2 = df[['task_id', str(v)]].groupby([ 'task_id', str(v)]).size().to_frame(name = 'count').reset_index()
    df5consensus = (df2[df2['count'] == 5])
    df5consensus = df5consensus[['task_id', str(v)]]
    df4consensus = (df2[df2['count'] == 4])
    df4consensus = df4consensus[['task_id', str(v)]]
    df_cleanname = pd.concat([df4consensus, df5consensus])
    print(v, ":", len(df_cleanname.task_id.unique())/len(result.task_id.unique()))
    df_4_Yenny = pd.concat([df_4_Yenny, df_cleanname] ,axis =0)



df_4_Yenny = df_4_Yenny.fillna('')
df_4_Yenny = df_4_Yenny.groupby('task_id').agg(''.join)
df_4_Yenny = df_4_Yenny.replace('', np.nan, regex=True)
df_4_Yenny = df_4_Yenny.reset_index()

Series([], Name: cleanname, dtype: object)
cleanname : 0.8809980806142035
Series([], Name: cleanname, dtype: object)
cleantel : 0.7946257197696737
48    comunità san luigi dei francesi
Name: cleanname, dtype: object
cleansite : 0.744721689059501
Series([], Name: cleanname, dtype: object)
cleanadd : 0.736084452975048
Series([], Name: cleanname, dtype: object)
postcode : 0.9001919385796545
Series([], Name: cleanname, dtype: object)
locality : 0.9328214971209213
Series([], Name: cleanname, dtype: object)
region : 0.9692898272552783
Series([], Name: cleanname, dtype: object)
country : 0.9769673704414588

In [4]:
df_4_Yenny[df_4_Yenny.task_id ==59338]['cleanname']

302    NaN
Name: cleanname, dtype: object

In [9]:
result[result.name =='Boch Center']

Empty DataFrame
Columns: [id, sourceUrl, task_id, user_id, file_x, _original_category, _records_touched, address, address_accuracy, address_extended, address_type_code, admin_region, alcohol, alcohol_bar, alcohol_beer_wine, category_ids, country, cuisine, current, file_y, languages, locality, melissa_address_key, melissa_code, name, og_address, po_box, post_town, postcode, raw_address, rbdi, region, tel, type, website, cleansite, cleanadd, cleanname, cleantel, unique]
Index: []

[0 rows x 40 columns]

In [5]:
print(len(df_4_Yenny.task_id.unique())/len(result.task_id.unique()))
top_perf = result[ (result.user_id == 43)| 
                  (result.user_id == 47) |  (result.user_id == 58) ]

                   #(result.user_id == 59)|  (result.user_id == 38)|  (result.user_id == 26)]
top_perf = top_perf[['user_id', 'task_id','cleanname', 'cleantel', 'cleansite', 'cleanadd', 'postcode', 
                     'locality','region', 'country',]]

df_gold_and_top = pd.concat([top_perf, df_4_Yenny])
print(len(df_gold_and_top.task_id.unique())/len(result.task_id.unique()))

df_gold_and_top['user_id'] = df_gold_and_top['user_id'].fillna('gold')
df_gold = df_gold_and_top.groupby(['task_id','cleanname', 'cleantel', 'cleansite', 'cleanadd', 'postcode', 
                     'locality','region', 'country',]).size().to_frame(name = 'count').reset_index()

print(len(df_gold.task_id.unique())/len(result.task_id.unique()))
#np.sum(len(t44['count']))/len(4)




#### get a list of problematic dfs
from collections import Counter
cnt = Counter()
for word in list(t44['task_id']):
     cnt[word] += 1
d={}
for key, value in cnt.items():
    d[key] = value

d = pd.DataFrame.from_dict(d, orient='index').reset_index()
d = d[d[0]>1].reset_index()
#len(d)/len(result.task_id.unique())
len(list(d['index']))



#### remove

for i,unique_id in enumerate(list(d['index'])): 

    df_gold = df_gold[df_gold['task_id'] != (int(unique_id))]


notgold = df_4_Yenny[~df_4_Yenny['task_id'].isin(list(df_gold.task_id.unique()))]

0.9884836852207294
0.9932821497120922
0.6372360844529751

NameError: name 't44' is not defined

In [ ]:
top_perf = result[ (result.user_id == 43)| 
                  (result.user_id == 47) |  (result.user_id == 58) |  (result.user_id == 22) 
                   | (result.user_id == 59)|  (result.user_id == 38)|  (result.user_id == 26)]





gold2 = pd.merge(notgold, top_perf[['task_id','cleanname', 'cleantel', 'cleansite', 'cleanadd', 'postcode', 
                      'locality','region', 'country', ]], on='task_id')

print(len(gold2)/len(notgold))

v = 'cleansite'
cleansite_x = str(v)+'_x'
cleansite_y = str(v)+'_y'
gold2[str(cleansite_x)].fillna(gold2[str(cleansite_y)], inplace=True)
del gold2[str(cleansite_y)]
gold2 = gold2.rename(index=str, columns={str(str(v)+'_x'): str(v)})
print(v)

v = 'cleanname'
cleansite_x = str(v)+'_x'
cleansite_y = str(v)+'_y'
gold2[str(cleansite_x)].fillna(gold2[str(cleansite_y)], inplace=True)
del gold2[str(cleansite_y)]
gold2 = gold2.rename(index=str, columns={str(str(v)+'_x'): str(v)})
print(v)

v = 'cleantel'
cleansite_x = str(v)+'_x'
cleansite_y = str(v)+'_y'
gold2[str(cleansite_x)].fillna(gold2[str(cleansite_y)], inplace=True)
del gold2[str(cleansite_y)]
gold2 = gold2.rename(index=str, columns={str(str(v)+'_x'): str(v)})
print(v)


v = 'cleanadd'
cleansite_x = str(v)+'_x'
cleansite_y = str(v)+'_y'
gold2[str(cleansite_x)].fillna(gold2[str(cleansite_y)], inplace=True)
del gold2[str(cleansite_y)]
gold2 = gold2.rename(index=str, columns={str(str(v)+'_x'): str(v)})
print(v)

v = 'locality'
cleansite_x = str(v)+'_x'
cleansite_y = str(v)+'_y'
gold2[str(cleansite_x)].fillna(gold2[str(cleansite_y)], inplace=True)
del gold2[str(cleansite_y)]
gold2 = gold2.rename(index=str, columns={str(str(v)+'_x'): str(v)})
print(v)

v = 'region'
cleansite_x = str(v)+'_x'
cleansite_y = str(v)+'_y'
gold2[str(cleansite_x)].fillna(gold2[str(cleansite_y)], inplace=True)
del gold2[str(cleansite_y)]
gold2 = gold2.rename(index=str, columns={str(str(v)+'_x'): str(v)})
print(v)

v = 'postcode'
cleansite_x = str(v)+'_x'
cleansite_y = str(v)+'_y'
gold2[str(cleansite_x)].fillna(gold2[str(cleansite_y)], inplace=True)
del gold2[str(cleansite_y)]
gold2 = gold2.rename(index=str, columns={str(str(v)+'_x'): str(v)})
print(v)


v = 'country'
cleansite_x = str(v)+'_x'
cleansite_y = str(v)+'_y'
gold2[str(cleansite_x)].fillna(gold2[str(cleansite_y)], inplace=True)
del gold2[str(cleansite_y)]
gold2 = gold2.rename(index=str, columns={str(str(v)+'_x'): str(v)})
print(v)

print(len(df_gold.task_id.unique())/len(result.task_id.unique()))
print(len(gold2.task_id.unique())/len(result.task_id.unique()))
df_gold = pd.concat([df_gold, gold2])
print(len(df_gold.task_id.unique())/len(result.task_id.unique()))

In [ ]:
notgold = df_4_Yenny[~df_4_Yenny['task_id'].isin(list(df_gold.task_id.unique()))] 
len(notgold.task_id.unique())/len(result.task_id.unique())


top_perf = result[ (result.user_id == 20)| 
                  (result.user_id == 21) |  (result.user_id == 25) |  (result.user_id == 33) 
                   | (result.user_id == 31)]


gold2 = pd.merge(notgold, top_perf[['task_id','cleanname', 'cleantel', 'cleansite', 'cleanadd', 'postcode', 
                      'locality','region', 'country', ]], on='task_id')

print(len(gold2)/len(notgold))

v = 'cleansite'
cleansite_x = str(v)+'_x'
cleansite_y = str(v)+'_y'
gold2[str(cleansite_x)].fillna(gold2[str(cleansite_y)], inplace=True)
del gold2[str(cleansite_y)]
gold2 = gold2.rename(index=str, columns={str(str(v)+'_x'): str(v)})
print(v)

v = 'cleanname'
cleansite_x = str(v)+'_x'
cleansite_y = str(v)+'_y'
gold2[str(cleansite_x)].fillna(gold2[str(cleansite_y)], inplace=True)
del gold2[str(cleansite_y)]
gold2 = gold2.rename(index=str, columns={str(str(v)+'_x'): str(v)})
print(v)

v = 'cleantel'
cleansite_x = str(v)+'_x'
cleansite_y = str(v)+'_y'
gold2[str(cleansite_x)].fillna(gold2[str(cleansite_y)], inplace=True)
del gold2[str(cleansite_y)]
gold2 = gold2.rename(index=str, columns={str(str(v)+'_x'): str(v)})
print(v)


v = 'cleanadd'
cleansite_x = str(v)+'_x'
cleansite_y = str(v)+'_y'
gold2[str(cleansite_x)].fillna(gold2[str(cleansite_y)], inplace=True)
del gold2[str(cleansite_y)]
gold2 = gold2.rename(index=str, columns={str(str(v)+'_x'): str(v)})
print(v)

v = 'locality'
cleansite_x = str(v)+'_x'
cleansite_y = str(v)+'_y'
gold2[str(cleansite_x)].fillna(gold2[str(cleansite_y)], inplace=True)
del gold2[str(cleansite_y)]
gold2 = gold2.rename(index=str, columns={str(str(v)+'_x'): str(v)})
print(v)

v = 'region'
cleansite_x = str(v)+'_x'
cleansite_y = str(v)+'_y'
gold2[str(cleansite_x)].fillna(gold2[str(cleansite_y)], inplace=True)
del gold2[str(cleansite_y)]
gold2 = gold2.rename(index=str, columns={str(str(v)+'_x'): str(v)})
print(v)

v = 'postcode'
cleansite_x = str(v)+'_x'
cleansite_y = str(v)+'_y'
gold2[str(cleansite_x)].fillna(gold2[str(cleansite_y)], inplace=True)
del gold2[str(cleansite_y)]
gold2 = gold2.rename(index=str, columns={str(str(v)+'_x'): str(v)})
print(v)


v = 'country'
cleansite_x = str(v)+'_x'
cleansite_y = str(v)+'_y'
gold2[str(cleansite_x)].fillna(gold2[str(cleansite_y)], inplace=True)
del gold2[str(cleansite_y)]
gold2 = gold2.rename(index=str, columns={str(str(v)+'_x'): str(v)})
print(v)

print(len(df_gold.task_id.unique())/len(result.task_id.unique()))
print(len(gold2.task_id.unique())/len(result.task_id.unique()))
df_gold = pd.concat([df_gold, gold2])
print(len(df_gold.task_id.unique())/len(result.task_id.unique()))


notgold = df_4_Yenny[~df_4_Yenny['task_id'].isin(list(df_gold.task_id.unique()))] 
len(notgold.task_id.unique())/len(result.task_id.unique())

In [ ]:
(notgold.task_id.unique()) #df_4_Yenny[df_4_Yenny.task_id ==59338]['cleanname']
## these are the ones that are not ready for ingestion!

In [ ]:
df_gold = df_gold.fillna('')
df_gold  = df_gold.replace(to_replace=r'^nan$', value='', regex=True)

In [ ]:
## fix website: 

top_perf = result[ (result.user_id == 43)| 
                  (result.user_id == 47) |  (result.user_id == 58) |  (result.user_id == 22) 
                   | (result.user_id == 59)|  (result.user_id == 38)|  (result.user_id == 26) |(result.user_id == 20)| 
                  (result.user_id == 21) |  (result.user_id == 25) |  (result.user_id == 33) 
                   | (result.user_id == 31)]

top_perf = top_perf.groupby([ 'task_id', 'website']).size().to_frame(name = 'count').reset_index()

print(len(df_gold))
print('--task_id-', len(df_gold.task_id.unique()))
#8	59040	http://www.mass.gov/eea/agencies/dcr/massparks...	1
#9	59040	https://www.mass.gov/locations/skinner-state-park	2
t = pd.merge(top_perf, df_gold, on='task_id', how='right')
print(len(t))
print('--task_id-', len(t.task_id.unique()))

t = t[~t.task_id.duplicated(keep='first')]
print(len(t))
print('--task_id-',len(t.task_id.unique()))
df_gold = t

In [ ]:
del df_gold['cleansite']
df_gold = df_gold.rename(index=str, columns={'cleanadd': 'address', 'cleanname': 'name', 'cleantel': 'tel'})
del df_gold['count_x']
del df_gold['count_y']

In [ ]:
1 - len(df_gold.task_id.unique())/len(result.task_id.unique())

In [10]:
import numpy as np
import pandas as pd
import json
import codecs
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import matplotlib as m
import matplotlib.pyplot as plt
from pandas.io.json import json_normalize

#Yenny's dups file
json_file = "/Users/kimia/Desktop/Work5/sprint614/work5_batch_108_results_1531247573.json"
df = pd.read_json(json_file, lines=True)
dfsub = json_normalize(df.submission)
dftask = json_normalize(df.task)



uuiddf = dftask[['payload.existingRecord.uuid', 'payload.factual_id', 'id','payload.existingRecord.latitude', 'payload.existingRecord.longitude' ]]
uuiddf['task_id'] = uuiddf['id']
del uuiddf['id']
uuiddf = uuiddf[~uuiddf.task_id.duplicated(keep='first')]

print(len(df_gold))
df_gold2 = pd.merge(df_gold, uuiddf, on = 'task_id', how='left' )
print(len(df_gold2))


dfcat = dfsub[['task_id', 'payload.category_ids']]
dfcat = dfcat[~dfcat.task_id.duplicated(keep='first')]
print(len(df_gold2))
df_gold2 = pd.merge(df_gold2, dfcat, on = 'task_id', how='left' )
print(len(df_gold2))

df_gold = df_gold2.rename(index=str, columns={'payload.existingRecord.uuid': 'uuid', 'payload.factual_id': "canonical_uuid", 
                                              'payload.category_ids':"category_ids", 'payload.existingRecord.latitude': 'latitude', 
                                              'payload.existingRecord.longitude': 'longitude'})
df_gold["nonDupes"] = ""

708
708
708
708

In [ ]:


## clean Tel 
print('t', len(df_gold.tel))
teldf = result[['task_id', 'tel', 'cleantel']]
teldf = (teldf.groupby(['task_id', 'tel','cleantel' ]).size().to_frame(name = 'count').reset_index())
teldf = teldf.fillna('')
df_gold = df_gold.rename(columns={'tel':'cleantel'})
df_gold2 = pd.merge(df_gold, teldf, on= ['task_id', 'cleantel'] , how= 'left' )

df_gold = (df_gold2)[~df_gold2.task_id.duplicated(keep='first')]
del df_gold['cleantel']

print('t', len(df_gold.tel))


## clean name
print('n', len(df_gold.name))
teldf = result[['task_id', 'name', 'cleanname']]
teldf = (teldf.groupby(['task_id', 'name','cleanname' ]).size().to_frame(name = 'count').reset_index())
teldf = teldf.fillna('')
df_gold = df_gold.rename(columns={'name':'cleanname'})
print(df_gold.columns)
print(teldf.columns)
df_gold2 = pd.merge(df_gold, teldf, on= ['task_id', 'cleanname'] , how= 'left' )

df_gold = (df_gold2)[~df_gold2.task_id.duplicated(keep='first')]
del df_gold['cleanname']

print('n', len(df_gold.name))

## clean add
print('a', len(df_gold.address))

## clean name
print('n', len(df_gold.address))
teldf = result[['task_id', 'address', 'cleanadd']]
teldf = (teldf.groupby(['task_id', 'address','cleanadd' ]).size().to_frame(name = 'count').reset_index())
teldf = teldf.fillna('')
df_gold = df_gold.rename(columns={'address':'cleanadd'})
df_gold2 = pd.merge(df_gold, teldf, on= ['task_id', 'cleanadd'] , how= 'left' )

df_gold = (df_gold2)[~df_gold2.task_id.duplicated(keep='first')]
del df_gold['cleanadd']

print('a', len(df_gold.address))

In [8]:
df_gold2.columns

NameError: name 'df_gold2' is not defined

In [ ]:
AU = df_gold[df_gold.country == 'au']
US = df_gold[df_gold.country == 'us']
CA = df_gold[df_gold.country == 'ca']
GB = df_gold[df_gold.country == 'gb']
FR = df_gold[df_gold.country == 'fr']
IT = df_gold[df_gold.country == 'it']

In [6]:
#df_gold[df_gold.uuid == '6d17a66f-1fd0-4219-9b59-291b132b4d35']

AttributeError: 'DataFrame' object has no attribute 'uuid'

In [1356]:
AU = (AU.groupby(['canonical_uuid', 'nonDupes'], as_index=False)
 .apply(lambda x: x[['uuid','name', 'address', 'locality',
                             'region', 'postcode', 'latitude', 'longitude', 'tel', 
                             'website', 'category_ids']].to_dict('r')).reset_index().rename(columns={0:'factual_gold'}).to_json('AU.json', orient='records'))

US = (US.groupby(['canonical_uuid', 'nonDupes'], as_index=False)
 .apply(lambda x: x[['uuid','name', 'address', 'locality',
                             'region', 'postcode', 'latitude', 'longitude', 'tel', 
                             'website', 'category_ids']].to_dict('r')).reset_index().rename(columns={0:'factual_gold'}).to_json('US.json', orient='records'))

CA = (CA.groupby(['canonical_uuid', 'nonDupes'], as_index=False)
 .apply(lambda x: x[['uuid','name', 'address', 'locality',
                             'region', 'postcode', 'latitude', 'longitude', 'tel', 
                             'website', 'category_ids']].to_dict('r')).reset_index().rename(columns={0:'factual_gold'}).to_json('CA.json', orient='records'))


GB = (GB.groupby(['canonical_uuid', 'nonDupes'], as_index=False)
 .apply(lambda x: x[['uuid','name', 'address', 'locality',
                             'region', 'postcode', 'latitude', 'longitude', 'tel', 
                             'website', 'category_ids']].to_dict('r')).reset_index().rename(columns={0:'factual_gold'}).to_json('GB.json', orient='records'))

FR = (FR.groupby(['canonical_uuid', 'nonDupes'], as_index=False)
 .apply(lambda x: x[['uuid','name', 'address', 'locality',
                             'region', 'postcode', 'latitude', 'longitude', 'tel', 
                             'website', 'category_ids']].to_dict('r')).reset_index().rename(columns={0:'factual_gold'}).to_json('FR.json', orient='records'))

IT = (IT.groupby(['canonical_uuid', 'nonDupes'], as_index=False)
 .apply(lambda x: x[['uuid','name', 'address', 'locality',
                             'region', 'postcode', 'latitude', 'longitude', 'tel', 
                             'website', 'category_ids']].to_dict('r')).reset_index().rename(columns={0:'factual_gold'}).to_json('IT.json', orient='records'))

TypeError: 'NoneType' object is not subscriptable

In [1355]:
IT[IT.task_id ==59338]

,task_id,website,country,locality,postcode,region,uuid,canonical_uuid,latitude,longitude,category_ids,nonDupes,tel,count_x,name,count_y,address,count
265,59338,http://saintlouis-rome.net,it,Roma,00186,Roma,fedad4f2-9d6d-40e0-a4cb-b3df0e3ffbcb,fedad4f2-9d6d-40e0-a4cb-b3df0e3ffbcb,41.899599771229994,12.474538469029127,[55],,06 688271,5.0,Saint Louis des Français,1.0,Piazza di S. Luigi de’ Francesi,1.0

In [1354]:
result[result.website =="http://saintlouis-rome.net"]

,id,sourceUrl,task_id,user_id,file_x,_original_category,_records_touched,address,address_accuracy,address_extended,...,rbdi,region,tel,type,website,cleansite,cleanadd,cleanname,cleantel,unique
566,166597,https://yny.com/166597,59338,25,it-seed-inputs.json,{'mapping_not_necessary': ['55']},crawl,Piazza di S. Luigi de’ Francesi,NaN,NaN,...,NaN,Roma,06 688271,NaN,http://saintlouis-rome.net,saintlouis-rome.net,piazza di s. luigi de’ francesi,saint louis des français,06688271,5933825
569,161496,https://yny.com/161496,59338,37,it-seed-inputs.json,{'mapping_not_necessary': ['55']},crawl,Via di Santa Giovanna d'Arco 5,NaN,NaN,...,NaN,Roma,06 688271,NaN,http://saintlouis-rome.net,saintlouis-rome.net,via di santa giovanna d'arco 5,comunità san luigi dei francesi,06688271,5933837
570,161492,https://yny.com/161492,59338,44,it-seed-inputs.json,{'mapping_not_necessary': ['55']},crawl,Via di Santa Giovanna d'Arco 5,NaN,NaN,...,NaN,Roma,06 688271,NaN,http://saintlouis-rome.net,saintlouis-rome.net,via di santa giovanna d'arco 5,comunità san luigi dei francesi,06688271,5933844

In [948]:
notgold.task_id.unique()

array([59041, 59062, 59063, 59151, 59247, 59273, 59287, 59291, 59299,
       59310, 59321, 59336, 59363, 59371, 59401, 59404, 59428, 59436,
       59454, 59456, 59463, 59465, 59470, 59533, 59576, 59624, 59625,
       59665, 59706, 59736, 59799, 59839, 59840, 59911, 59913, 59930,
       59936, 59988, 59990, 60011, 60021, 60069])

In [947]:

perf = result[ (result.user_id == 43)| 
                  (result.user_id == 47) |  (result.user_id == 58) |  (result.user_id == 22) 
                   | (result.user_id == 59)|  (result.user_id == 38)|  (result.user_id == 26) |(result.user_id == 20)| 
                  (result.user_id == 21) |  (result.user_id == 25) |  (result.user_id == 33) 
                   | (result.user_id == 31) |(result.user_id == 20)| 
                  (result.user_id == 21) |  (result.user_id == 25) |  (result.user_id == 33) 
                   | (result.user_id == 31)]

In [950]:
for i, v in enumerate(list(notgold.task_id.unique())):
    
    print(perf[perf.task_id ==int(v)])

Empty DataFrame
Columns: [id, sourceUrl, task_id, user_id, file_x, _original_category, _records_touched, address, address_accuracy, address_extended, address_type_code, admin_region, alcohol, alcohol_bar, alcohol_beer_wine, category_ids, country, cuisine, current, file_y, languages, locality, melissa_address_key, melissa_code, name, og_address, po_box, post_town, postcode, raw_address, rbdi, region, tel, type, website, cleansite, cleanadd, cleanname, cleantel, unique]
Index: []

[0 rows x 40 columns]
Empty DataFrame
Columns: [id, sourceUrl, task_id, user_id, file_x, _original_category, _records_touched, address, address_accuracy, address_extended, address_type_code, admin_region, alcohol, alcohol_bar, alcohol_beer_wine, category_ids, country, cuisine, current, file_y, languages, locality, melissa_address_key, melissa_code, name, og_address, po_box, post_town, postcode, raw_address, rbdi, region, tel, type, website, cleansite, cleanadd, cleanname, cleantel, unique]
Index: []

[0 rows x 40 columns]
Empty DataFrame
Columns: [id, sourceUrl, task_id, user_id, file_x, _original_category, _records_touched, address, address_accuracy, address_extended, address_type_code, admin_region, alcohol, alcohol_bar, alcohol_beer_wine, category_ids, country, cuisine, current, file_y, languages, locality, melissa_address_key, melissa_code, name, og_address, po_box, post_town, postcode, raw_address, rbdi, region, tel, type, website, cleansite, cleanadd, cleanname, cleantel, unique]
Index: []

[0 rows x 40 columns]
Empty DataFrame
Columns: [id, sourceUrl, task_id, user_id, file_x, _original_category, _records_touched, address, address_accuracy, address_extended, address_type_code, admin_region, alcohol, alcohol_bar, alcohol_beer_wine, category_ids, country, cuisine, current, file_y, languages, locality, melissa_address_key, melissa_code, name, og_address, po_box, post_town, postcode, raw_address, rbdi, region, tel, type, website, cleansite, cleanadd, cleanname, cleantel, unique]
Index: []

[0 rows x 40 columns]
Empty DataFrame
Columns: [id, sourceUrl, task_id, user_id, file_x, _original_category, _records_touched, address, address_accuracy, address_extended, address_type_code, admin_region, alcohol, alcohol_bar, alcohol_beer_wine, category_ids, country, cuisine, current, file_y, languages, locality, melissa_address_key, melissa_code, name, og_address, po_box, post_town, postcode, raw_address, rbdi, region, tel, type, website, cleansite, cleanadd, cleanname, cleantel, unique]
Index: []

[0 rows x 40 columns]
Empty DataFrame
Columns: [id, sourceUrl, task_id, user_id, file_x, _original_category, _records_touched, address, address_accuracy, address_extended, address_type_code, admin_region, alcohol, alcohol_bar, alcohol_beer_wine, category_ids, country, cuisine, current, file_y, languages, locality, melissa_address_key, melissa_code, name, og_address, po_box, post_town, postcode, raw_address, rbdi, region, tel, type, website, cleansite, cleanadd, cleanname, cleantel, unique]
Index: []

[0 rows x 40 columns]
Empty DataFrame
Columns: [id, sourceUrl, task_id, user_id, file_x, _original_category, _records_touched, address, address_accuracy, address_extended, address_type_code, admin_region, alcohol, alcohol_bar, alcohol_beer_wine, category_ids, country, cuisine, current, file_y, languages, locality, melissa_address_key, melissa_code, name, og_address, po_box, post_town, postcode, raw_address, rbdi, region, tel, type, website, cleansite, cleanadd, cleanname, cleantel, unique]
Index: []

[0 rows x 40 columns]
Empty DataFrame
Columns: [id, sourceUrl, task_id, user_id, file_x, _original_category, _records_touched, address, address_accuracy, address_extended, address_type_code, admin_region, alcohol, alcohol_bar, alcohol_beer_wine, category_ids, country, cuisine, current, file_y, languages, locality, melissa_address_key, melissa_code, name, og_address, po_box, post_town, postcode, raw_address, rbdi, region, tel, type, website, cleansite, cleanadd, cleanname, cleantel, unique]
Index: []

[0 rows x 40 columns]
Empty DataFrame
Columns: [id, sourceUrl, task_id, user_id, file_x, _original_category, _records_touched, address, address_accuracy, address_extended, address_type_code, admin_region, alcohol, alcohol_bar, alcohol_beer_wine, category_ids, country, cuisine, current, file_y, languages, locality, melissa_address_key, melissa_code, name, og_address, po_box, post_town, postcode, raw_address, rbdi, region, tel, type, website, cleansite, cleanadd, cleanname, cleantel, unique]
Index: []

[0 rows x 40 columns]
Empty DataFrame
Columns: [id, sourceUrl, task_id, user_id, file_x, _original_category, _records_touched, address, address_accuracy, address_extended, address_type_code, admin_region, alcohol, alcohol_bar, alcohol_beer_wine, category_ids, country, cuisine, current, file_y, languages, locality, melissa_address_key, melissa_code, name, og_address, po_box, post_town, postcode, raw_address, rbdi, region, tel, type, website, cleansite, cleanadd, cleanname, cleantel, unique]
Index: []

[0 rows x 40 columns]
Empty DataFrame
Columns: [id, sourceUrl, task_id, user_id, file_x, _original_category, _records_touched, address, address_accuracy, address_extended, address_type_code, admin_region, alcohol, alcohol_bar, alcohol_beer_wine, category_ids, country, cuisine, current, file_y, languages, locality, melissa_address_key, melissa_code, name, og_address, po_box, post_town, postcode, raw_address, rbdi, region, tel, type, website, cleansite, cleanadd, cleanname, cleantel, unique]
Index: []

[0 rows x 40 columns]
Empty DataFrame
Columns: [id, sourceUrl, task_id, user_id, file_x, _original_category, _records_touched, address, address_accuracy, address_extended, address_type_code, admin_region, alcohol, alcohol_bar, alcohol_beer_wine, category_ids, country, cuisine, current, file_y, languages, locality, melissa_address_key, melissa_code, name, og_address, po_box, post_town, postcode, raw_address, rbdi, region, tel, type, website, cleansite, cleanadd, cleanname, cleantel, unique]
Index: []

[0 rows x 40 columns]
Empty DataFrame
Columns: [id, sourceUrl, task_id, user_id, file_x, _original_category, _records_touched, address, address_accuracy, address_extended, address_type_code, admin_region, alcohol, alcohol_bar, alcohol_beer_wine, category_ids, country, cuisine, current, file_y, languages, locality, melissa_address_key, melissa_code, name, og_address, po_box, post_town, postcode, raw_address, rbdi, region, tel, type, website, cleansite, cleanadd, cleanname, cleantel, unique]
Index: []

[0 rows x 40 columns]
Empty DataFrame
Columns: [id, sourceUrl, task_id, user_id, file_x, _original_category, _records_touched, address, address_accuracy, address_extended, address_type_code, admin_region, alcohol, alcohol_bar, alcohol_beer_wine, category_ids, country, cuisine, current, file_y, languages, locality, melissa_address_key, melissa_code, name, og_address, po_box, post_town, postcode, raw_address, rbdi, region, tel, type, website, cleansite, cleanadd, cleanname, cleantel, unique]
Index: []

[0 rows x 40 columns]
Empty DataFrame
Columns: [id, sourceUrl, task_id, user_id, file_x, _original_category, _records_touched, address, address_accuracy, address_extended, address_type_code, admin_region, alcohol, alcohol_bar, alcohol_beer_wine, category_ids, country, cuisine, current, file_y, languages, locality, melissa_address_key, melissa_code, name, og_address, po_box, post_town, postcode, raw_address, rbdi, region, tel, type, website, cleansite, cleanadd, cleanname, cleantel, unique]
Index: []

[0 rows x 40 columns]
Empty DataFrame
Columns: [id, sourceUrl, task_id, user_id, file_x, _original_category, _records_touched, address, address_accuracy, address_extended, address_type_code, admin_region, alcohol, alcohol_bar, alcohol_beer_wine, category_ids, country, cuisine, current, file_y, languages, locality, melissa_address_key, melissa_code, name, og_address, po_box, post_town, postcode, raw_address, rbdi, region, tel, type, website, cleansite, cleanadd, cleanname, cleantel, unique]
Index: []

[0 rows x 40 columns]
Empty DataFrame
Columns: [id, sourceUrl, task_id, user_id, file_x, _original_category, _records_touched, address, address_accuracy, address_extended, address_type_code, admin_region, alcohol, alcohol_bar, alcohol_beer_wine, category_ids, country, cuisine, current, file_y, languages, locality, melissa_address_key, melissa_code, name, og_address, po_box, post_town, postcode, raw_address, rbdi, region, tel, type, website, cleansite, cleanadd, cleanname, cleantel, unique]
Index: []

[0 rows x 40 columns]
Empty DataFrame
Columns: [id, sourceUrl, task_id, user_id, file_x, _original_category, _records_touched, address, address_accuracy, address_extended, address_type_code, admin_region, alcohol, alcohol_bar, alcohol_beer_wine, category_ids, country, cuisine, current, file_y, languages, locality, melissa_address_key, melissa_code, name, og_address, po_box, post_town, postcode, raw_address, rbdi, region, tel, type, website, cleansite, cleanadd, cleanname, cleantel, unique]
Index: []

[0 rows x 40 columns]
Empty DataFrame
Columns: [id, sourceUrl, task_id, user_id, file_x, _original_category, _records_touched, address, address_accuracy, address_extended, address_type_code, admin_region, alcohol, alcohol_bar, alcohol_beer_wine, category_ids, country, cuisine, current, file_y, languages, locality, melissa_address_key, melissa_code, name, og_address, po_box, post_town, postcode, raw_address, rbdi, region, tel, type, website, cleansite, cleanadd, cleanname, cleantel, unique]
Index: []

[0 rows x 40 columns]
Empty DataFrame
Columns: [id, sourceUrl, task_id, user_id, file_x, _original_category, _records_touched, address, address_accuracy, address_extended, address_type_code, admin_region, alcohol, alcohol_bar, alcohol_beer_wine, category_ids, country, cuisine, current, file_y, languages, locality, melissa_address_key, melissa_code, name, og_address, po_box, post_town, postcode, raw_address, rbdi, region, tel, type, website, cleansite, cleanadd, cleanname, cleantel, unique]
Index: []

[0 rows x 40 columns]
Empty DataFrame
Columns: [id, sourceUrl, task_id, user_id, file_x, _original_category, _records_touched, address, address_accuracy, address_extended, address_type_code, admin_region, alcohol, alcohol_bar, alcohol_beer_wine, category_ids, country, cuisine, current, file_y, languages, locality, melissa_address_key, melissa_code, name, og_address, po_box, post_town, postcode, raw_address, rbdi, region, tel, type, website, cleansite, cleanadd, cleanname, cleantel, unique]
Index: []

[0 rows x 40 columns]
Empty DataFrame
Columns: [id, sourceUrl, task_id, user_id, file_x, _original_category, _records_touched, address, address_accuracy, address_extended, address_type_code, admin_region, alcohol, alcohol_bar, alcohol_beer_wine, category_ids, country, cuisine, current, file_y, languages, locality, melissa_address_key, melissa_code, name, og_address, po_box, post_town, postcode, raw_address, rbdi, region, tel, type, website, cleansite, cleanadd, cleanname, cleantel, unique]
Index: []

[0 rows x 40 columns]
Empty DataFrame
Columns: [id, sourceUrl, task_id, user_id, file_x, _original_category, _records_touched, address, address_accuracy, address_extended, address_type_code, admin_region, alcohol, alcohol_bar, alcohol_beer_wine, category_ids, country, cuisine, current, file_y, languages, locality, melissa_address_key, melissa_code, name, og_address, po_box, post_town, postcode, raw_address, rbdi, region, tel, type, website, cleansite, cleanadd, cleanname, cleantel, unique]
Index: []

[0 rows x 40 columns]
Empty DataFrame
Columns: [id, sourceUrl, task_id, user_id, file_x, _original_category, _records_touched, address, address_accuracy, address_extended, address_type_code, admin_region, alcohol, alcohol_bar, alcohol_beer_wine, category_ids, country, cuisine, current, file_y, languages, locality, melissa_address_key, melissa_code, name, og_address, po_box, post_town, postcode, raw_address, rbdi, region, tel, type, website, cleansite, cleanadd, cleanname, cleantel, unique]
Index: []

[0 rows x 40 columns]
Empty DataFrame
Columns: [id, sourceUrl, task_id, user_id, file_x, _original_category, _records_touched, address, address_accuracy, address_extended, address_type_code, admin_region, alcohol, alcohol_bar, alcohol_beer_wine, category_ids, country, cuisine, current, file_y, languages, locality, melissa_address_key, melissa_code, name, og_address, po_box, post_town, postcode, raw_address, rbdi, region, tel, type, website, cleansite, cleanadd, cleanname, cleantel, unique]
Index: []

[0 rows x 40 columns]
Empty DataFrame
Columns: [id, sourceUrl, task_id, user_id, file_x, _original_category, _records_touched, address, address_accuracy, address_extended, address_type_code, admin_region, alcohol, alcohol_bar, alcohol_beer_wine, category_ids, country, cuisine, current, file_y, languages, locality, melissa_address_key, melissa_code, name, og_address, po_box, post_town, postcode, raw_address, rbdi, region, tel, type, website, cleansite, cleanadd, cleanname, cleantel, unique]
Index: []

[0 rows x 40 columns]
Empty DataFrame
Columns: [id, sourceUrl, task_id, user_id, file_x, _original_category, _records_touched, address, address_accuracy, address_extended, address_type_code, admin_region, alcohol, alcohol_bar, alcohol_beer_wine, category_ids, country, cuisine, current, file_y, languages, locality, melissa_address_key, melissa_code, name, og_address, po_box, post_town, postcode, raw_address, rbdi, region, tel, type, website, cleansite, cleanadd, cleanname, cleantel, unique]
Index: []

[0 rows x 40 columns]
Empty DataFrame
Columns: [id, sourceUrl, task_id, user_id, file_x, _original_category, _records_touched, address, address_accuracy, address_extended, address_type_code, admin_region, alcohol, alcohol_bar, alcohol_beer_wine, category_ids, country, cuisine, current, file_y, languages, locality, melissa_address_key, melissa_code, name, og_address, po_box, post_town, postcode, raw_address, rbdi, region, tel, type, website, cleansite, cleanadd, cleanname, cleantel, unique]
Index: []

[0 rows x 40 columns]
Empty DataFrame
Columns: [id, sourceUrl, task_id, user_id, file_x, _original_category, _records_touched, address, address_accuracy, address_extended, address_type_code, admin_region, alcohol, alcohol_bar, alcohol_beer_wine, category_ids, country, cuisine, current, file_y, languages, locality, melissa_address_key, melissa_code, name, og_address, po_box, post_town, postcode, raw_address, rbdi, region, tel, type, website, cleansite, cleanadd, cleanname, cleantel, unique]
Index: []

[0 rows x 40 columns]
Empty DataFrame
Columns: [id, sourceUrl, task_id, user_id, file_x, _original_category, _records_touched, address, address_accuracy, address_extended, address_type_code, admin_region, alcohol, alcohol_bar, alcohol_beer_wine, category_ids, country, cuisine, current, file_y, languages, locality, melissa_address_key, melissa_code, name, og_address, po_box, post_town, postcode, raw_address, rbdi, region, tel, type, website, cleansite, cleanadd, cleanname, cleantel, unique]
Index: []

[0 rows x 40 columns]
Empty DataFrame
Columns: [id, sourceUrl, task_id, user_id, file_x, _original_category, _records_touched, address, address_accuracy, address_extended, address_type_code, admin_region, alcohol, alcohol_bar, alcohol_beer_wine, category_ids, country, cuisine, current, file_y, languages, locality, melissa_address_key, melissa_code, name, og_address, po_box, post_town, postcode, raw_address, rbdi, region, tel, type, website, cleansite, cleanadd, cleanname, cleantel, unique]
Index: []

[0 rows x 40 columns]
Empty DataFrame
Columns: [id, sourceUrl, task_id, user_id, file_x, _original_category, _records_touched, address, address_accuracy, address_extended, address_type_code, admin_region, alcohol, alcohol_bar, alcohol_beer_wine, category_ids, country, cuisine, current, file_y, languages, locality, melissa_address_key, melissa_code, name, og_address, po_box, post_town, postcode, raw_address, rbdi, region, tel, type, website, cleansite, cleanadd, cleanname, cleantel, unique]
Index: []

[0 rows x 40 columns]
Empty DataFrame
Columns: [id, sourceUrl, task_id, user_id, file_x, _original_category, _records_touched, address, address_accuracy, address_extended, address_type_code, admin_region, alcohol, alcohol_bar, alcohol_beer_wine, category_ids, country, cuisine, current, file_y, languages, locality, melissa_address_key, melissa_code, name, og_address, po_box, post_town, postcode, raw_address, rbdi, region, tel, type, website, cleansite, cleanadd, cleanname, cleantel, unique]
Index: []

[0 rows x 40 columns]
Empty DataFrame
Columns: [id, sourceUrl, task_id, user_id, file_x, _original_category, _records_touched, address, address_accuracy, address_extended, address_type_code, admin_region, alcohol, alcohol_bar, alcohol_beer_wine, category_ids, country, cuisine, current, file_y, languages, locality, melissa_address_key, melissa_code, name, og_address, po_box, post_town, postcode, raw_address, rbdi, region, tel, type, website, cleansite, cleanadd, cleanname, cleantel, unique]
Index: []

[0 rows x 40 columns]
Empty DataFrame
Columns: [id, sourceUrl, task_id, user_id, file_x, _original_category, _records_touched, address, address_accuracy, address_extended, address_type_code, admin_region, alcohol, alcohol_bar, alcohol_beer_wine, category_ids, country, cuisine, current, file_y, languages, locality, melissa_address_key, melissa_code, name, og_address, po_box, post_town, postcode, raw_address, rbdi, region, tel, type, website, cleansite, cleanadd, cleanname, cleantel, unique]
Index: []

[0 rows x 40 columns]
Empty DataFrame
Columns: [id, sourceUrl, task_id, user_id, file_x, _original_category, _records_touched, address, address_accuracy, address_extended, address_type_code, admin_region, alcohol, alcohol_bar, alcohol_beer_wine, category_ids, country, cuisine, current, file_y, languages, locality, melissa_address_key, melissa_code, name, og_address, po_box, post_town, postcode, raw_address, rbdi, region, tel, type, website, cleansite, cleanadd, cleanname, cleantel, unique]
Index: []

[0 rows x 40 columns]
Empty DataFrame
Columns: [id, sourceUrl, task_id, user_id, file_x, _original_category, _records_touched, address, address_accuracy, address_extended, address_type_code, admin_region, alcohol, alcohol_bar, alcohol_beer_wine, category_ids, country, cuisine, current, file_y, languages, locality, melissa_address_key, melissa_code, name, og_address, po_box, post_town, postcode, raw_address, rbdi, region, tel, type, website, cleansite, cleanadd, cleanname, cleantel, unique]
Index: []

[0 rows x 40 columns]
Empty DataFrame
Columns: [id, sourceUrl, task_id, user_id, file_x, _original_category, _records_touched, address, address_accuracy, address_extended, address_type_code, admin_region, alcohol, alcohol_bar, alcohol_beer_wine, category_ids, country, cuisine, current, file_y, languages, locality, melissa_address_key, melissa_code, name, og_address, po_box, post_town, postcode, raw_address, rbdi, region, tel, type, website, cleansite, cleanadd, cleanname, cleantel, unique]
Index: []

[0 rows x 40 columns]
Empty DataFrame
Columns: [id, sourceUrl, task_id, user_id, file_x, _original_category, _records_touched, address, address_accuracy, address_extended, address_type_code, admin_region, alcohol, alcohol_bar, alcohol_beer_wine, category_ids, country, cuisine, current, file_y, languages, locality, melissa_address_key, melissa_code, name, og_address, po_box, post_town, postcode, raw_address, rbdi, region, tel, type, website, cleansite, cleanadd, cleanname, cleantel, unique]
Index: []

[0 rows x 40 columns]
Empty DataFrame

In [956]:
result.groupby(['task_id', 'tel']).size()

task_id  tel
59033    (08) 9168 7300    5
59034    (928) 638-7888    4
59035    (780) 425-5379    5
59036    (212) 363-3200    4
59037    (702) 678-5600    5
59038    01634 335882      4
         0370 333 1181     1
59039    02 35 71 38 49    4
59040    (413) 586-0350    5
59041    01 70 36 39 50    5
59042    06 4274 0571      5
59043    041 529 8711      1
         041 724 1040      3
59044    01386 438333      5
59045    01 39 10 94 11    5
59046    0577 940008       1
         0577 940328       4
59047    (580) 353-4869    5
59048    13 74 68          2
         1300 130 372      1
59049    03 68 98 51 52    1
         03 68 98 51 60    4
59050    0418 862 260      5
59051    02 41 40 24 40    5
59052    (215) 965-2305    5
59053    01242 545454      5
59054    04 78 31 11 33    5
59055    (02) 9231 8111    5
59056    (651) 290-1200    5
59057    0481 7731         1
                          ..
60056    080 521 3704      2
         080 575 4201      1
         0984 181 1234     1
         0984 27485        1
60057    (03) 5023 3823    5
60058    (509) 633-2143    2
         (509) 633-9265    3
60059    075 812301        5
60060    05 46 95 60 10    5
60061    0 892 89 90 90    3
60062    (514) 877-7373    5
60063    (541) 548-7501    3
         (800) 551-6949    2
60064    (02) 8251 7800    2
         1800 199 657      3
60065    (978) 744-0180    4
         (978) 744-1692    1
60066    05 53 06 86 00    1
         05 53 06 97 05    4
60067    06 7766 6011      1
         06 77666          4
60068    (07) 5581 5100    5
60069    0845 094 9273     2
         0845 643 9215     3
60070    01330 833463      4
         0844 493 2164     1
60071    03 83 85 30 01    5
60072    (02) 9895 7500    5
60073    (808) 742-2623    5
60074    0931 65068        2
Length: 1342, dtype: int64

In [1359]:
origdf = dftask[['payload.existingRecord.name',
       'payload.existingRecord.postcode', 
       'payload.existingRecord.tel', 
       'payload.existingRecord.website',]]
origdf

Index(['batch_id', 'created_at', 'id', 'payload.comment', 'payload.country',
       'payload.edits.address', 'payload.edits.category_ids',
       'payload.edits.locality', 'payload.edits.name',
       'payload.edits.postcode', 'payload.edits.region', 'payload.edits.tel',
       'payload.edits.website', 'payload.existingRecord.address',
       'payload.existingRecord.category_ids',
       'payload.existingRecord.crosswalk_url_facebook',
       'payload.existingRecord.crosswalk_url_foursquare',
       'payload.existingRecord.crosswalk_url_grubhub',
       'payload.existingRecord.crosswalk_url_lonelyplanet',
       'payload.existingRecord.crosswalk_url_opentable',
       'payload.existingRecord.crosswalk_url_singleplatform',
       'payload.existingRecord.crosswalk_url_stubhub',
       'payload.existingRecord.crosswalk_url_tripadvisor',
       'payload.existingRecord.crosswalk_url_twitter',
       'payload.existingRecord.crosswalk_url_wikipedia',
       'payload.existingRecord.crosswalk_url_yelp',
       'payload.existingRecord.crosswalk_url_zagat',
       'payload.existingRecord.latitude', 'payload.existingRecord.locality',
       'payload.existingRecord.longitude', 'payload.existingRecord.name',
       'payload.existingRecord.postcode', 'payload.existingRecord.region',
       'payload.existingRecord.tel', 'payload.existingRecord.uuid',
       'payload.existingRecord.website', 'payload.factual_id',
       'payload.issueType', 'skips_count', 'updated_at'],
      dtype='object')

In [ ]:
df_gold