In [370]:
#Important notes: All those greater than 5 had consensus.
import numpy as np
from IPython.core.display import HTML
import json
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

## THIS IS THE FINAL JUN 8 at 3
finaltaskusdf = pd.DataFrame()
finallocdf = pd.DataFrame()
data = {}
all_df= []
df_s = pd.DataFrame()
files =  ['au-extracted.json','it-extracted.json', 
          'fr-extracted.json','gb-extracted.json',
             'ca-extracted.json', 'us-extracted.json']
              

for file_num, file_name in enumerate(files):
    data = {}
    print(str(file_name))
    n=0
    with open('/Users/kimia/Desktop/Work5/sprint614/' + str(file_name)) as f:
            
                for line in f:
                    try:

                        data.update(json.loads( line.rstrip('\n')))
                        all_df.append(data)

                        taskusedits = pd.Series(data['data']['extraction']['payload']).to_frame().T
                        taskusedits['id'] = (data['uri'])
                        taskusedits['file'] = str(file_name)

                        locdf = pd.Series(data['data']['extraction']['rawPayload']).to_frame().T
                        locdf['id'] = (data['uri'])
                        locdf['file'] = str(file_name)


                        finaltaskusdf = pd.concat([taskusedits, finaltaskusdf], axis=0)
                        finallocdf = pd.concat([locdf, finallocdf], axis=0)
       
                    except:

                        n = n+1
                        print(n)
finallocdf['id'] = finallocdf['id'].apply(lambda x: int(x[-6:]))
finaltaskusdf['id']= finaltaskusdf['id'].apply(lambda x: int(x[-6:]))

## THIS WORK!! 1:36 JUN 7
data = {}
df_s = pd.DataFrame()
files = ['ca-seed-inputs.json' ,
             'it-seed-inputs.json', 'us-seed-inputs.json', 'au-seed-inputs.json', 
             'gb-seed-inputs.json' , 
             'fr-seed-inputs.json']
for file_num, file_name in enumerate(files):

    print(str(file_name)+"  i")
    with open('/Users/kimia/Desktop/Work5/sprint614/' + str(file_name)) as f:
        
        
        for line in f:
            data.update(json.loads( line.rstrip('\n')))
            #print(data['data']['extraction']['inputMeta'])

            d1 = pd.Series(data['data']['extraction']['inputMeta']).to_frame().T 
        
            d1['file'] = str(file_name)
            df_s = pd.concat([df_s, d1], axis=0)
        
result = (pd.merge(df_s,finaltaskusdf, on = ['id'])) # correct merge: (result.file_x == result.file_y)

from urllib.parse import urlparse
result['cleansite'] =result['website'].apply(lambda x: urlparse(str(x)).netloc)
result['cleansite'] =result['cleansite'].apply(lambda x: (str(x).replace("www.", "")))

au-extracted.json
it-extracted.json
fr-extracted.json
1
gb-extracted.json
1
2
3
4
5
ca-extracted.json
1
2
us-extracted.json
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
ca-seed-inputs.json  i
it-seed-inputs.json  i
us-seed-inputs.json  i
au-seed-inputs.json  i
gb-seed-inputs.json  i
fr-seed-inputs.json  i

In [161]:
result.shape

(5212, 36)

In [146]:
df2 = result.groupby('task_id').size().to_frame().reset_index()
df2[0].unique()
from collections import Counter
cnt = Counter()
for word in list(df2[0]):
    cnt[word] += 1
print('Looking at counter, I will only use tasks with 5 annotators: ', cnt)
df_5_only = result.groupby('task_id').size().to_frame().reset_index()
df_5_only = (df_5_only[df_5_only[0]==5])
dfresult = pd.merge(result, df_5_only, on = 'task_id')

Looking at counter, I will only use tasks with 5 annotators:  Counter({5: 1012, 6: 18, 4: 6, 3: 3, 2: 2, 7: 1})

In [269]:
len(df_5_only.task_id.unique())/len(result.task_id.unique())
## i dropped 3% of the dataset to make sure I was pulling accuracy correctly.

0.9712092130518234

In [314]:
dfresult = result
def consensus(df, column):
    lowagreement = df.groupby([ 'task_id', str(column)]).size().to_frame(name = 'count').reset_index()
    agree5 = lowagreement[lowagreement['count'] >4]
    perc5 = (len(agree5.task_id.unique())/len(lowagreement.task_id.unique()))
    accuracy = ({str(column):perc5})
    return accuracy  

columnsz = [
 'address',
 'country',
 'locality',
 'name',
 'postcode',
 'region',
 'tel',
 'website']

final = pd.DataFrame()
accuracydict={}
for number,country in enumerate(result.file_x.unique()):
    
    for i, v in enumerate(columnsz): 


        percent = (consensus(dfresult[dfresult.file_x ==str(country)], str(v)))
        accuracydict.update(percent)

    all_perc_disagree = pd.Series(accuracydict).to_frame().sort_values([0],ascending = True)
    all_perc_disagree.columns = [str(country[0:2])]
    final = pd.concat([all_perc_disagree, final], axis=1)
    #print("% disagreement by column in ",str(country[0:2]) )
print("    MODERATION: % there is consensus among 5 on a POI, by field input")
display(HTML(((final).to_html())))

    MODERATION: % there is consensus among 5 on a POI, by field input

In [304]:
dfresult['cleantel'] = dfresult['tel'].apply(lambda x: ((str(x).replace(" ", ""))))

final = pd.DataFrame()
accuracydict={}

columnsz = ['cleansite','website']
for number,country in enumerate(result.file_x.unique()):
    
    for i, v in enumerate(columnsz): 


        percent = (consensus(dfresult[dfresult.file_x ==str(country)], str(v)))
        accuracydict.update(percent)

    all_perc_disagree = pd.Series(accuracydict).to_frame().sort_values([0],ascending = True)
    all_perc_disagree.columns = [str(country[0:2])]
    final = pd.concat([all_perc_disagree, final], axis=1)
    #print("% disagreement by column in ",str(country[0:2]) )
print("    MODERATION: website has sig improvement with urllib parser")
display(HTML(((final).to_html())))

    MODERATION: website has sig improvement with urllib parser

In [313]:
dfresult['cleantel'] = dfresult['tel'].apply(lambda x: ((str(x).replace(" ", ""))))

final = pd.DataFrame()
accuracydict={}

columnsz = ['cleantel','tel']
for number,country in enumerate(result.file_x.unique()):
    
    for i, v in enumerate(columnsz): 


        percent = (consensus(dfresult[dfresult.file_x ==str(country)], str(v)))
        accuracydict.update(percent)

    all_perc_disagree = pd.Series(accuracydict).to_frame().sort_values([0],ascending = True)
    all_perc_disagree.columns = [str(country[0:2])]
    final = pd.concat([all_perc_disagree, final], axis=1)
    #print("% disagreement by column in ",str(country[0:2]) )
print("    MODERATION: Tel cannot be saved in Italy by removing spaces")
display(HTML(((final).to_html())))

    MODERATION: Tel cannot be saved in Italy by removing spaces

In [321]:
#(result[result.file_x == 'it-seed-inputs.json']).address

In [375]:
sum((result[['address', 'tel', 'website', 'name']].isnull().sum(axis=1)))/result.shape[0]

0.44013814274750573

In [360]:
kimia = result
kimia['tel'] = kimia['tel'].fillna('KIMIA')

ff = result.groupby([ 'task_id', 'tel']).size().to_frame(name = 'count').reset_index()
dfwithnull = ff[ff['tel'] == "KIMIA"]
list(dfwithnull.task_id)

df_without_null = result
for i,v in enumerate(list(dfwithnull.task_id)): 
    df_without_null = df_without_null[df_without_null.task_id != v]
len(df_without_null.task_id.unique())/len(result.task_id.unique())
df_without_null[df_without_null.task_id ==59039]

Empty DataFrame
Columns: [id, sourceUrl, task_id, user_id, file_x, _original_category, _records_touched, address, address_accuracy, address_extended, address_type_code, admin_region, alcohol, alcohol_bar, alcohol_beer_wine, category_ids, country, cuisine, current, file_y, languages, locality, melissa_address_key, melissa_code, name, og_address, po_box, post_town, postcode, raw_address, rbdi, region, tel, type, website, cleansite, cleantel]
Index: []

[0 rows x 37 columns]

In [381]:
final = pd.DataFrame()
accuracydict={}

columnsz = [
 'address',
 'country',
 'locality',
 'name',
 'postcode',
 'region',
 'tel',
 'website']
listy2 = []
for number,country in enumerate(result.file_x.unique()):
    
    for i, v in enumerate(columnsz): 
        
        #get a list of all task IDs with Null
        removeNA = result
        removeNA[str(v)] = removeNA[str(v)].fillna('KIMIA')

        ff = result.groupby([ 'task_id', str(v)]).size().to_frame(name = 'count').reset_index()
        dfwithnull = ff[ff[str(v)] == "KIMIA"]

        ## now have a fresh df, 
        df_without_null = result
        for num,task_id in enumerate(list(dfwithnull.task_id)): 
            df_without_null = df_without_null[df_without_null.task_id != (task_id)]
        #(rr.tel).isnull().sum(axis=0)
        percent = (consensus(df_without_null[df_without_null.file_x ==str(country)], str(v)))
        countrydf = df_without_null[df_without_null.file_x ==str(country)]
        countryfulldf = result[result.file_x ==str(country)]
        listy = list([country, v, len(countrydf.task_id.unique()), len(countryfulldf.task_id.unique()), \
              (len(countrydf.task_id.unique())/len(countryfulldf.task_id.unique()))])
        accuracydict.update(percent)
        listy2.append(listy)
    all_perc_disagree = pd.Series(accuracydict).to_frame().sort_values([0],ascending = True)
    all_perc_disagree.columns = [str(country[0:2])]
    final = pd.concat([all_perc_disagree, final], axis=1)
    #print("% disagreement by column in ",str(country[0:2]) )
    
print("    MODERATION: REMOVING NULL")
display(HTML(((final).to_html())))

#Here I dropped any task_Id where there was an NA--> which would have obviously dropped

    MODERATION: REMOVING NULL

In [385]:
concerndetect = pd.DataFrame(listy2, columns = ['country', 'attribute', 'num', 'denom', 'perc'])
concerndetect.sort_values(['perc'],ascending = True)

                country attribute  num  denom      perc
32  gb-seed-inputs.json   address   49    134  0.365672
15  it-seed-inputs.json   website   93    192  0.484375
16  us-seed-inputs.json   address  172    321  0.535826
47  fr-seed-inputs.json   website   87    138  0.630435
14  it-seed-inputs.json       tel  130    192  0.677083
40  fr-seed-inputs.json   address   98    138  0.710145
8   it-seed-inputs.json   address  140    192  0.729167
23  us-seed-inputs.json   website  250    321  0.778816
0   ca-seed-inputs.json   address   54     67  0.805970
24  au-seed-inputs.json   address  155    190  0.815789
46  fr-seed-inputs.json       tel  117    138  0.847826
22  us-seed-inputs.json       tel  273    321  0.850467
7   ca-seed-inputs.json   website   57     67  0.850746
6   ca-seed-inputs.json       tel   57     67  0.850746
39  gb-seed-inputs.json   website  115    134  0.858209
31  au-seed-inputs.json   website  169    190  0.889474
30  au-seed-inputs.json       tel  172    190  0.905263
26  au-seed-inputs.json  locality  172    190  0.905263
38  gb-seed-inputs.json       tel  123    134  0.917910
3   ca-seed-inputs.json      name   62     67  0.925373
28  au-seed-inputs.json  postcode  177    190  0.931579
43  fr-seed-inputs.json      name  130    138  0.942029
42  fr-seed-inputs.json  locality  130    138  0.942029
35  gb-seed-inputs.json      name  127    134  0.947761
4   ca-seed-inputs.json  postcode   64     67  0.955224
34  gb-seed-inputs.json  locality  130    134  0.970149
10  it-seed-inputs.json  locality  187    192  0.973958
19  us-seed-inputs.json      name  316    321  0.984424
37  gb-seed-inputs.json    region  132    134  0.985075
11  it-seed-inputs.json      name  190    192  0.989583
20  us-seed-inputs.json  postcode  319    321  0.993769
12  it-seed-inputs.json  postcode  191    192  0.994792
41  fr-seed-inputs.json   country  138    138  1.000000
1   ca-seed-inputs.json   country   67     67  1.000000
44  fr-seed-inputs.json  postcode  138    138  1.000000
45  fr-seed-inputs.json    region  138    138  1.000000
5   ca-seed-inputs.json    region   67     67  1.000000
33  gb-seed-inputs.json   country  134    134  1.000000
2   ca-seed-inputs.json  locality   67     67  1.000000
13  it-seed-inputs.json    region  192    192  1.000000
29  au-seed-inputs.json    region  190    190  1.000000
9   it-seed-inputs.json   country  192    192  1.000000
25  au-seed-inputs.json   country  190    190  1.000000
21  us-seed-inputs.json    region  321    321  1.000000
18  us-seed-inputs.json  locality  321    321  1.000000
17  us-seed-inputs.json   country  321    321  1.000000
36  gb-seed-inputs.json  postcode  134    134  1.000000
27  au-seed-inputs.json      name  190    190  1.000000

In [ ]:
## what happens if I remove all tasks with Nan in important fields

In [227]:
## can we clean up postcode? NO.
listpost = (dfresult[dfresult.file_x == 'it-seed-inputs.json']['tel'].apply(lambda x: len(str(x))))
cnt = Counter()
for word in list(listpost):
    cnt[word] += 1
print('Postcode has issues other than cleaning ', cnt)

Postcode has issues other than cleaning  Counter({12: 314, 11: 186, 3: 144, 10: 131, 9: 85, 7: 29, 13: 18, 8: 18})

In [259]:
#import replace

listpost = dfresult[dfresult.file_x == 'it-seed-inputs.json']['tel'].apply(lambda x: ((str(x).replace(" ", ""))))
cnt = Counter()
for word in list(listpost):
    cnt[word] += 1
print('Italian Phone numbers have issues other than cleaning: It is not the country code that is messing up the dataset\
      Italy uses an open numbering \
plan in which the length of subscriber telephone numbers varies from six to eleven digits. \
The dialing procedures for callers mandate that the full telephone number is always dialed, \
including the area code')

Italian Phone numbers have issues other than cleaning: It is not the country code that is messing up the dataset      Italy uses an open numbering plan in which the length of subscriber telephone numbers varies from six to eleven digits. The dialing procedures for callers mandate that the full telephone number is always dialed, including the area code

In [260]:
listpost

330      0642740571
331      0642740571
332      0642740571
333      0642740571
334      0642740571
335      0417241040
336      0417241040
337      0415298711
338      0417241040
339             nan
340      0577940328
341      0577940008
342      0577940328
343      0577940328
344      0577940328
345        04817731
346      0481773224
347      0481773224
348      0481773224
349      0481773224
350      0916404403
351      0916404403
352      0916404403
353      0916404403
354      0916404403
355       011090102
356       011090102
357       011090102
358       011090102
359      0110906111
           ...
1225     0172741500
1226     0172741500
1227     0172741500
1228     0172741500
1229     0172741500
1230       05219515
1231     0521951511
1232     0521951511
1233     0521951511
1234       05219515
1235     0805754201
1236      098427485
1237    09841811234
1238     0805213704
1239     0805213704
1240      075812301
1241      075812301
1242      075812301
1243      075812301
1244      075812301
1245        0677666
1246        0677666
1247        0677666
1248     0677666011
1249        0677666
1250            nan
1251      093165068
1252      093165068
1253            nan
1254            nan
Name: tel, Length: 925, dtype: object

In [85]:
# Top Performers

def consensus3(df, column):
    lowagreement = df.groupby([ 'task_id', str(column)]).size().to_frame(name = 'count').reset_index()
    agree3 = lowagreement[lowagreement['count'] >2]
    return agree3

In [86]:
perc5 = []
perc3 = []
names  = []
for i, v in enumerate(['name', 'tel', 'website', 'cleansite','address']):
    names.append(str(v))
    agree5 = consensus(df, str(v))
    perc5.append(len(agree5.task_id.unique())/len(result.task_id.unique()))
    agree3 = consensus3(df, str(v))
    perc3.append(len(agree3.task_id.unique())/len(result.task_id.unique()))

print('% of time there is consensus among X annotators')
pd.DataFrame({  'attribute': names,'5annot': perc5,})

% of time there is consensus among X annotators

     5annot  attribute
0  0.712092       name
1  0.622841        tel
2  0.187140    website
3  0.544146  cleansite
4  0.401152    address

In [131]:
for i, v in enumerate(columnsz): 

    print(consensus(df, column))

0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0

In [140]:
df2 = result
def accuracy_per_column(df, column):
    cons = df.groupby([ 'task_id', (str(column))]).size().to_frame()
    cons['count'] = cons[0]
    j = (cons[cons['count']<5]).reset_index()
    numer_mistakes  = len(j['task_id'].unique())
    total = len(df['task_id'].unique())
    accuracy = ({str(column):numer_mistakes/total})
    return accuracy
    ### make this a pretty print
    
def consensus(df, column):
    lowagreement = df.groupby([ 'task_id', str(column)]).size().to_frame(name = 'count').reset_index()
    agree5 = lowagreement[lowagreement['count'] >4]
    perc5 = (len(agree5.task_id.unique())/len(result.task_id.unique()))
    accuracy = ({str(column):perc5})
    return accuracy
    
columnsz = [
 'address',
 'address_extended',
 'country',
 'locality',
 'name',
 'postcode',
 'region',
 'tel', 'cleansite',
 'website']
    
accuracydict={}



final = pd.DataFrame()
for number,country in enumerate(df.file_x.unique()):
    df = df2[df2.file_x == str(country)]
    
    for i, v in enumerate(columnsz): 
        accuracydict.update(consensus(df, str(v)))
    all_perc_disagree = pd.Series(accuracydict).to_frame().sort_values([0],ascending = True)
    all_perc_disagree.columns = [str(country[0:2])]
    final = pd.concat([all_perc_disagree, final], axis=1)
    #print("% disagreement by column in ",str(country[0:2]) )
print("    % there is not consensus on a POI, by field input")
display(HTML(((final).to_html())))

    % there is not consensus on a POI, by field input

In [205]:
pe =dfresult[dfresult.file_x ==str('fr-seed-inputs.json')]
lowagreement =pe.groupby([ 'task_id', str('address_extended')]).size().to_frame(name = 'count').reset_index()
agree5 = lowagreement[lowagreement['count'] >4]

print(len(agree5.task_id.unique())/len(lowagreement.task_id.unique()))
#accuracy = ({str(column):perc5})

ZeroDivisionError: division by zero

In [211]:
def consensus(df, column):
    lowagreement = df.groupby([ 'task_id', str(column)]).size().to_frame(name = 'count').reset_index()
    agree5 = lowagreement[lowagreement['count'] >4]
    perc5 = (len(agree5.task_id.unique())/len(lowagreement.task_id.unique()))
    accuracy = ({str(column):perc5})
    return accuracy  

columnsz = [
 'address',
 'country',
 'locality',
 'name',
 'postcode',
 'region',
 'tel',
    'cleansite',
 'website']

final = pd.DataFrame()
accuracydict={}
for number,country in enumerate(result.file_x.unique()):
    
    for i, v in enumerate(columnsz): 


        percent = (consensus(dfresult[dfresult.file_x ==str(country)], str(v)))
        accuracydict.update(percent)

    all_perc_disagree = pd.Series(accuracydict).to_frame().sort_values([0],ascending = True)
    all_perc_disagree.columns = [str(country[0:2])]
    final = pd.concat([all_perc_disagree, final], axis=1)
    #print("% disagreement by column in ",str(country[0:2]) )
print("    MODERATION: % there is consensus on a POI, by field input")
display(HTML(((final).to_html())))

    MODERATION: % there is consensus on a POI, by field input

In [177]:

def accuracy_per_column(df, column):
    cons = df.groupby([ 'task_id', (str(column))]).size().to_frame()
    cons['count'] = cons[0]
    j = (cons[cons['count']<5]).reset_index()
    numer_mistakes  = len(j['task_id'].unique())
    total = len(df['task_id'].unique())
    accuracy = ({str(column):numer_mistakes/total})
    return accuracy
    ### make this a pretty print
def consensus(df, column):
    lowagreement = df.groupby([ 'task_id', str(column)]).size().to_frame(name = 'count').reset_index()
    agree5 = lowagreement[lowagreement['count'] >4]
    perc5 = (len(agree5.task_id.unique())/len(lowagreement.task_id.unique()))
    accuracy = ({str(column):perc5})
    return accuracy  
    
columnsz = [
 'address',
 'address_extended',
 'country',
 'locality',
 'name',
 'postcode',
 'region',
 'tel',
 'website']
    


final = pd.DataFrame()
accuracydict={}
for number,country in enumerate(result.file_x.unique()):
    df = dfresult[dfresult.file_x == str(country)]
    
    for i, v in enumerate(columnsz): 
        accuracydict.update(consensus(df, str(v)))
    all_perc_disagree = pd.Series(accuracydict).to_frame().sort_values([0],ascending = True)
    all_perc_disagree.columns = [str(country[0:2])]
    final = pd.concat([all_perc_disagree, final], axis=1)
    #print("% disagreement by column in ",str(country[0:2]) )
print("    % there is not consensus on a POI, by field input")
display(HTML(((final).to_html())))

ZeroDivisionError: division by zero

In [115]:
sample=2
column = 'tel'
dfsample4 = df.groupby('task_id').apply(lambda x: (x.sample(int(sample)))).reset_index(drop=True)
# make duplicate means 1 if dup, else = 0
dfsample4["dup"] = 0
#dfsample4.loc[dfsample4['annotation'] == 'duplicate', 'dup'] = 1
# get the ratio of consensus
#prob = dfsample4.groupby('unique').apply(lambda x: (np.sum(x['dup'])/int(sample))).reset_index(drop=True)
sample2 = (dfsample4).groupby(['task_id', str(column)]).size().to_frame(name = 'count').reset_index()
sample2consensus = (sample2[sample2['count'] == sample])
sample2consensus.shape[0]/len(df['task_id'].unique())

0.7737154150197628

In [ ]:


## take a sample
dfsample4 = df.groupby('unique').apply(lambda x: (x.sample(int(sample)))).reset_index(drop=True)
    # make duplicate means 1 if dup, else = 0
    dfsample4["dup"] = 0
    dfsample4.loc[dfsample4['annotation'] == 'duplicate', 'dup'] = 1
    # get the ratio of consensus
    prob = dfsample4.groupby('unique').apply(lambda x: (np.sum(x['dup'])/int(sample))).reset_index(drop=True)

    # only where everyone totally agrees. 
    probabilities = pd.DataFrame(prob)
    probabilities['sample'] = int(sample)
    probabilities['consensus'] = 0
    probabilities.loc[probabilities[0] == 0, 'consensus'] = 1
    probabilities.loc[probabilities[0] == 1, 'consensus'] = 1
    all_probabilities = pd.concat([all_probabilities, probabilities], axis = 0)

In [15]:
df = result
agree5 = consensus(df, 'tel')
agree5
j = pd.merge(agree5, result, how ="right", on=[ 'task_id'])

,task_id,tel_x,count,id,sourceUrl,user_id,file_x,_original_category,_records_touched,address,...,og_address,po_box,post_town,postcode,raw_address,rbdi,region,tel_y,type,website
0,59033.0,(08) 9168 7300,5.0,167386,https://yny.com/167386,16,au-seed-inputs.json,{'mapping_not_necessary': ['119']},crawl,NaN,...,NaN,NaN,NaN,6770,NaN,NaN,WA,(08) 9168 7300,NaN,https://parks.dpaw.wa.gov.au/park/purnululu
1,59033.0,(08) 9168 7300,5.0,167014,https://yny.com/167014,59,au-seed-inputs.json,{'mapping_not_necessary': ['119']},crawl,NaN,...,NaN,NaN,NaN,6770,NaN,NaN,WA,(08) 9168 7300,NaN,http://parks.dpaw.wa.gov.au/park/purnululu
2,59033.0,(08) 9168 7300,5.0,167013,https://yny.com/167013,21,au-seed-inputs.json,{'mapping_not_necessary': ['119']},crawl,NaN,...,NaN,NaN,NaN,6770,NaN,NaN,WA,(08) 9168 7300,NaN,http://parks.dpaw.wa.gov.au/park/purnululu
3,59033.0,(08) 9168 7300,5.0,167010,https://yny.com/167010,31,au-seed-inputs.json,{'mapping_not_necessary': ['119']},crawl,NaN,...,NaN,NaN,NaN,6770,NaN,NaN,WA,(08) 9168 7300,NaN,http://parks.dpaw.wa.gov.au/park/purnululu
4,59033.0,(08) 9168 7300,5.0,165681,https://yny.com/165681,39,au-seed-inputs.json,{'mapping_not_necessary': ['119']},crawl,NaN,...,NaN,NaN,NaN,6770,NaN,NaN,WA,(08) 9168 7300,NaN,http://parks.dpaw.wa.gov.au/park/purnululu
5,59035.0,(780) 425-5379,5.0,165696,https://yny.com/165696,21,ca-seed-inputs.json,{'mapping_not_necessary': ['310']},crawl,2 Sir Winston Churchill Sq,...,NaN,NaN,NaN,T5J 2C1,NaN,NaN,AB,(780) 425-5379,NaN,http://www.youraga.ca
6,59035.0,(780) 425-5379,5.0,165700,https://yny.com/165700,39,ca-seed-inputs.json,{'mapping_not_necessary': ['310']},crawl,2 Sir Winston Churchill Sq NW,...,NaN,NaN,NaN,T5J 2C1,NaN,NaN,AB,(780) 425-5379,NaN,https://www.youraga.ca/
7,59035.0,(780) 425-5379,5.0,165699,https://yny.com/165699,47,ca-seed-inputs.json,{'mapping_not_necessary': ['310']},crawl,2 Sir Winston Churchill Sq NW,...,NaN,NaN,NaN,T5J 2C1,NaN,NaN,AB,(780) 425-5379,NaN,http://www.youraga.ca
8,59035.0,(780) 425-5379,5.0,165695,https://yny.com/165695,36,ca-seed-inputs.json,"{'mapped': [], 'mappings': {}, 'unmapped': ['3...",crawl,2 Sir Winston Churchill Sq,...,NaN,NaN,NaN,T5J 2C1,NaN,NaN,AB,(780) 425-5379,NaN,http://www.youraga.ca
9,59035.0,(780) 425-5379,5.0,165693,https://yny.com/165693,46,ca-seed-inputs.json,{'mapping_not_necessary': ['310']},crawl,2 Sir Winston Churchill Sq,...,NaN,NaN,NaN,T5J 2C1,NaN,NaN,AB,(780) 425-5379,NaN,http://www.youraga.ca
10,59037.0,(702) 678-5600,5.0,166421,https://yny.com/166421,31,us-seed-inputs.json,"{'mapping_not_necessary': ['107', '436']}",crawl,Fremont St,...,Fremont St,NaN,NaN,89101,Fremont St,U,NV,(702) 678-5600,NaN,http://www.vegasexperience.com
11,59037.0,(702) 678-5600,5.0,165709,https://yny.com/165709,33,us-seed-inputs.json,{'mapping_not_necessary': ['169']},crawl,Fremont St,...,Fremont St,NaN,NaN,89101,Fremont St,U,NV,(702) 678-5600,NaN,http://vegasexperience.com
12,59037.0,(702) 678-5600,5.0,165707,https://yny.com/165707,47,us-seed-inputs.json,"{'mapped': [], 'mappings': {}, 'unmapped': ['1...",crawl,425 Fremont St,...,425 Fremont St,NaN,NaN,89101,425 Fremont St,B,NV,(702) 678-5600,NaN,http://www.vegasexperience.com
13,59037.0,(702) 678-5600,5.0,165704,https://yny.com/165704,46,us-seed-inputs.json,"{'mapping_not_necessary': ['107', '436']}",crawl,Fremont St,...,Fremont St,NaN,NaN,89101,Fremont St,U,NV,(702) 678-5600,NaN,http://www.vegasexperience.com
14,59037.0,(702) 678-5600,5.0,165705,https://yny.com/165705,39,us-seed-inputs.json,"{'mapped': [], 'mappings': {}, 'unmapped': ['1...",crawl,425 Fremont St,...,425 Fremont St,NaN,NaN,89101,425 Fremont St,B,NV,(702) 678-5600,NaN,http://www.vegasexperience.com
15,59040.0,(413) 586-0350,5.0,159806,https://yny.com/159806,38,us-seed-inputs.json,{'mapping_not_necessary': ['118']},crawl,NaN,...,10 Skinner State Park Road,NaN,NaN,01035,10 Skinner State Park Road,U,MA,(413) 586-0350,NaN,https://www.mass.gov/locations/skinner-state-park
16,59040.0,(413) 586-0350,5.0,159819,https://yny.com/159819,43,us-seed-inputs.json,{'mapping_not_necessary': ['118']},crawl,NaN,...,10 Skinner State Park Rd,NaN,NaN,01035,10 Skinner State Park Rd,U,MA,(413) 586-0350,NaN,http://www.mass.gov/eea/agencies/dcr/massparks...
17,59040.0,(413) 586-0350,5.0,159818,https://yny.com/159818,44,us-seed-inputs.json,{'mapping_not_necessary': ['118']},crawl,NaN,...,10 Skinner State Park Road,NaN,NaN,01035,10 Skinner State Park Road,U,MA,(413) 586-0350,NaN,https://www.mass.gov/locations/skinner-state-park
18,59040.0,(413) 586-0350,5.0,159752,https://yny.com/159752,16,us-seed-inputs.json,{'mapping_not_necessary': ['118']},crawl,NaN,...,10 Skinner State Park Road,NaN,NaN,01035,10 Skinner State Park Road,U,MA,(413) 586-0350,NaN,https://www.mass.gov/locations/skinner-state-park
19,59040.0,(413) 586-0350,5.0,159632,https://yny.com/159632,25,us-seed-inputs.json,{'mapping_not_necessary': ['118']},crawl,NaN,...,10 Skinner State Park Road,NaN,NaN,01035,10 Skinner State Park Road,U,MA,(413) 586-0350,NaN,https://www.mass.gov/locations/skinner-state-park
20,59041.0,01 70 36 39 50,5.0,167016,https://yny.com/167016,29,fr-seed-inputs.json,{'mapping_not_necessary': ['462']},crawl,NaN,...,NaN,NaN,NaN,95700,NaN,NaN,Val-d'Oise,01 70 36 39 50,NaN,http://www.parisaeroport.fr/
21,59041.0,01 70 36 39 50,5.0,166422,https://yny.com/166422,37,fr-seed-inputs.json,{'mapping_not_necessary': ['462']},crawl,NaN,...,NaN,NaN,NaN,95700,NaN,NaN,Val-d'Oise,01 70 36 39 50,NaN,http://www.aeroportsdeparis.fr/ADP/en-GB/Passa...
22,59041.0,01 70 36 39 50,5.0,159827,https://yny.com/159827,30,fr-seed-inputs.json,{'mapping_not_necessary': ['462']},crawl,NaN,...,NaN,NaN,NaN,95700,NaN,NaN,Val-d'Oise,01 70 36 39 50,NaN,http://www.parisaeroport.fr/
23,59041.0,01 70 36 39 50,5.0,159835,https://yny.com/159835,39,fr-seed-inputs.json,{'mapping_not_necessary': ['462']},crawl,NaN,...,NaN,NaN,NaN,95700,NaN,NaN,Val-d'Oise,01 70 36 39 50,NaN,http://www.aeroportsdeparis.fr
24,59041.0,01 70 36 39 50,5.0,159833,https://yny.com/159833,16,fr-seed-inputs.json,{'mapping_not_necessary': ['462']},crawl,NaN,...,NaN,NaN,NaN,95711,NaN,NaN,Val-d'Oise,01 70 36 39 50,NaN,http://www.parisaeroport.fr/
25,59042.0,06 4274 0571,5.0,159851,https://yny.com/159851,47,it-seed-inputs.json,{'mapping_not_necessary': ['55']},crawl,Via XX Settembre 17,...,NaN,NaN,NaN,00187,NaN,NaN,Roma,06 4274 0571,NaN,http://www.chiesasantamariavittoriaroma.it
26,59042.0,06 4274 0571,5.0,159846,https://yny.com/159846,29,it-seed-inputs.json,{'mapping_not_necessary': ['55']},crawl,Via XX Settembre 17,...,NaN,NaN,NaN,00187,NaN,NaN,Roma,06 4274 0571,NaN,http://www.chiesasantamariavittoriaroma.it
27,59042.0,06 4274 0571,5.0,159849,https://yny.com/159849,58,it-seed-inputs.json,{'mapping_not_necessary': ['55']},crawl,Via XX Settembre 17,...,NaN,NaN,NaN,00187,NaN,NaN,Roma,06 4274 0571,NaN,http://www.chiesasantamariavittoriaroma.it
28,59042.0,06 4274 0571,5.0,159848,https://yny.com/159848,45,it-seed-inputs.json,{'mapping_not_necessary': ['55']},crawl,Via XX Settembre 17,...,NaN,NaN,NaN,00187,NaN,NaN,Roma,06 4274 0571,NaN,http://www.chiesasantamariavittoriaroma.it
29,59042.0,06 4274 0571,5.0,159839,https://yny.com/159839,37,it-seed-inputs.json,{'mapping_not_necessary': ['55']},crawl,Via XX Settembre 17,...,NaN,NaN,NaN,00187,NaN,NaN,Roma,06 4274 0571,NaN,http://www.chiesasantamariavittoriaroma.it
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5182,59952.0,NaN,NaN,167339,https://yny.com/167339,59,fr-seed-inputs.json,{'mapping_not_necessary': ['111']},crawl,NaN,...,NaN,NaN,NaN,75008,NaN,NaN,Paris,NaN,NaN,http://www.paris.fr/accueil/culture/dossiers/p...
5183,59952.0,NaN,NaN,167335,https://yny.com/167335,31,fr-seed-inputs.json,{'mapping_not_necessary': ['111']},crawl,NaN,...,NaN,NaN,NaN,75008,NaN,NaN,Paris,NaN,NaN,https://en.parisinfo.com/transport/90907/Place...
5184,59952.0,NaN,NaN,167334,https://yny.com/167334,29,fr-seed-inputs.json,{'mapping_not_necessary': ['111']},crawl,NaN,...,NaN,NaN,NaN,75008,NaN,NaN,Paris,NaN,NaN,http://www.paris.fr/accueil/culture/dossiers/p...
5185,59952.0,NaN,NaN,167332,https://yny.com/167332,44,fr-seed-inputs.json,{'mapping_not_necessary': ['111']},crawl,NaN,...,NaN,NaN,NaN,75008,NaN,NaN,Paris,NaN,NaN,https://en.parisinfo.com/transport/90907/Place...
5186,59952.0,NaN,NaN,164961,https://yny.com/164961,26,fr-seed-inputs.json,{'mapping_not_necessary': ['111']},crawl,NaN,...,NaN,NaN,NaN,75008,NaN,NaN,Paris,NaN,NaN,NaN
5187,59961.0,NaN,NaN,166293,https://yny.com/166293,21,fr-seed-inputs.json,{'mapping_not_necessary': ['429']},crawl,112 rue de Maubeuge,...,NaN,NaN,NaN,75010,NaN,NaN,Paris,0 892 35 35 35,NaN,http://www.transilien.com/gare/gareproximite/init
5188,59961.0,NaN,NaN,166291,https://yny.com/166291,37,fr-seed-inputs.json,{'mapping_not_necessary': ['429']},crawl,18 rue de Dunkerque,...,NaN,NaN,NaN,75010,NaN,NaN,Paris,0 892 35 35 35,NaN,NaN
5189,59961.0,NaN,NaN,165013,https://yny.com/165013,47,fr-seed-inputs.json,{'mapping_not_necessary': ['429']},crawl,112 rue de Maubeuge,...,NaN,NaN,NaN,75010,NaN,NaN,Paris,01 42 80 31 55,NaN,http://www.transilien.com/gare/gareproximite/init
5190,59961.0,NaN,NaN,165017,https://yny.com/165017,26,fr-seed-inputs.json,{'mapping_not_necessary': ['429']},crawl,18 rue de Dunkerque,...,NaN,NaN,NaN,75010,NaN,NaN,Paris,0 892 35 35 35,NaN,NaN
5191,59961.0,NaN,NaN,165015,https://yny.com/165015,59,fr-seed-inputs.json,{'mapping_not_necessary': ['429']},crawl,18 rue de Dunkerque,...,NaN,NaN,NaN,75010,NaN,NaN,Paris,0 892 35 35 35,NaN,http://www.transilien.com/gare/gareproximite/init
5192,59983.0,NaN,NaN,166928,https://yny.com/166928,47,fr-seed-inputs.json,{'mapping_not_necessary': ['311']},crawl,"ChÃ¢teau Grimaldi, place du Chateau",...,NaN,NaN,NaN,06600,NaN,NaN,Alpes-Maritimes,04 92 90 54 20,NaN,http://www.museepicassoparis.fr/
5193,59983.0,NaN,NaN,166902,https://yny.com/166902,29,fr-seed-inputs.json,{'mapping_not_necessary': ['311']},crawl,place Mariejol,...,NaN,NaN,NaN,06600,NaN,NaN,Alpes-Maritimes,04 92 90 54 28,NaN,http://www.antibes-juanlespins.com/culture/mus...
5194,59983.0,NaN,NaN,166309,https://yny.com/166309,36,fr-seed-inputs.json,{'mapping_not_necessary': ['311']},crawl,place Mariejol,...,NaN,NaN,NaN,06600,NaN,NaN,Alpes-Maritimes,04 92 90 54 28,NaN,http://www.antibes-juanlespins.com/culture/mus...
5195,59983.0,NaN,NaN,165152,https://yny.com/165152,44,fr-seed-inputs.json,{'mapping_not_necessary': ['311']},crawl,place Mariejol,...,NaN,NaN,NaN,06600,NaN,NaN,Alpes-Maritimes,04 92 90 54 20,NaN,NaN
5196,59983.0,NaN,NaN,165124,https://yny.com/165124,30,fr-seed-inputs.json,{'mapping_not_necessary': ['311']},crawl,place Mariejol,...,NaN,NaN,NaN,06600,NaN,NaN,Alpes-Maritimes,04 92 90 54 20,NaN,http://www.museepicassoparis.fr/
5197,60014.0,NaN,NaN,166942,https://yny.com/166942,58,fr-seed-inputs.json,{'mapping_not_necessary': ['319']},crawl,avenue RenÃ© Monory,...,NaN,NaN,NaN,86360,NaN,NaN,Vienne,05 49 49 59 06,NaN,http://www.futuroscope.com
5198,60014.0,NaN,NaN,166940,https://yny.com/166940,41,fr-seed-inputs.json,{'mapping_not_necessary': ['319']},crawl,RenÃ© Monory avenue,...,NaN,NaN,NaN,86360,NaN,NaN,Vienne,05 49 49 30 80,NaN,http://www.futuroscope.com
5199,60014.0,NaN,NaN,166935,https://yny.com/166935,31,fr-seed-inputs.json,{'mapping_not_necessary': ['319']},crawl,avenue RenÃ© Monory,...,NaN,NaN,NaN,86360,NaN,NaN,Vienne,05 49 49 30 80,NaN,http://www.futuroscope.com
5200,60014.0,NaN,NaN,165320,https://yny.com/165320,40,fr-seed-inputs.json,{'mapping_not_necessary': ['319']},crawl,RenÃ© Monory avenue,...,NaN,NaN,NaN,86360,NaN,NaN,Vienne,05 49 49 30 80,NaN,https://www.futuroscope.com
5201,60014.0,NaN,NaN,165316,https://yny.com/165316,20,fr-seed-inputs.json,{'mapping_not_necessary': ['319']},crawl,avenue RenÃ© Monory,...,NaN,NaN,NaN,86360,NaN,NaN,Vienne,05 49 49 30 80,NaN,http://www.futuroscope.com
5202,60061.0,NaN,NaN,166396,https://yny.com/166396,58,fr-seed-inputs.json,{'mapping_not_necessary': ['333']},crawl,8 rue Scribe,...,NaN,NaN,NaN,75009,NaN,NaN,Paris,0 892 89 90 90,NaN,https://www.operadeparis.fr/en/
5203,60061.0,NaN,NaN,166395,https://yny.com/166395,44,fr-seed-inputs.json,{'mapping_not_necessary': ['333']},crawl,8 rue Scribe,...,NaN,NaN,NaN,75009,NaN,NaN,Paris,NaN,NaN,https://www.operadeparis.fr/en/
5204,60061.0,NaN,NaN,166394,https://yny.com/166394,59,fr-seed-inputs.json,{'mapping_not_necessary': ['333']},crawl,8 rue Scribe,...,NaN,NaN,NaN,75009,NaN,NaN,Paris,0 892 89 90 90,NaN,https://www.operadeparis.fr/en/
5205,60061.0,NaN,NaN,165594,https://yny.com/165594,49,fr-seed-inputs.json,{'mapping_not_necessary': ['333']},crawl,8 rue Scribe,...,NaN,NaN,NaN,75009,NaN,NaN,Paris,0 892 89 90 90,NaN,https://www.operadeparis.fr/en/
5206,60061.0,NaN,NaN,165595,https://yny.com/165595,39,fr-seed-inputs.json,{'mapping_not_necessary': ['333']},crawl,8 rue Scribe,...,NaN,NaN,NaN,75009,NaN,NaN,Paris,NaN,NaN,https://www.operadeparis.fr/en
5207,60066.0,NaN,NaN,166464,https://yny.com/166464,45,fr-seed-inputs.json,{'mapping_not_necessary': ['110']},crawl,4 avenue des Grottes,...,NaN,NaN,NaN,24620,NaN,NaN,Dordogne,05 53 06 97 05,NaN,http://www.vallee-vezere.com/prehistoire-valle...
5208,60066.0,NaN,NaN,166407,https://yny.com/166407,29,fr-seed-inputs.json,{'mapping_not_necessary': ['110']},crawl,4 avenue des Grottes,...,NaN,NaN,NaN,24620,NaN,NaN,Dordogne,05 53 06 97 05,NaN,http://www.vallee-vezere.com/prehistoire-valle...
5209,60066.0,NaN,NaN,166406,https://yny.com/166406,30,fr-seed-inputs.json,{'mapping_not_necessary': ['110']},crawl,4 avenue des Grottes,...,NaN,NaN,NaN,24620,NaN,NaN,Dordogne,05 53 06 97 05,NaN,http://www.vallee-vezere.com/prehistoire-valle...
5210,60066.0,NaN,NaN,165620,https://yny.com/165620,39,fr-seed-inputs.json,{'mapping_not_necessary': ['110']},crawl,4 avenue des Grottes,...,NaN,NaN,NaN,24620,NaN,NaN,Dordogne,05 53 06 86 00,NaN,http://www.sites-les-eyzies.fr
5211,60066.0,NaN,NaN,165617,https://yny.com/165617,38,fr-seed-inputs.json,{'mapping_not_necessary': ['110']},crawl,4 avenue des Grottes,...,NaN,NaN,NaN,24620,NaN,NaN,Dordogne,05 53 06 97 05,NaN,http://www.vallee-vezere.com/prehistoire-valle...

In [19]:
len(agree5.task_id.unique())/len(result.task_id.unique())

0.6401151631477927

In [ ]:
df = result 
total=pd.DataFrame()
for i, column in enumerate(['name', 'tel', 'website', 'address']):
    
    lowagreement = df.groupby([ 'task_id', str(column)]).size().to_frame(name = 'count').reset_index()
    agree5 = lowagreement[lowagreement['count'] >4]
    
    agree5['CONSENSUS'] = 1
    j = pd.merge(agree5, result, how ="right", on=[ 'task_id'])
    j['CONSENSUS'] = j['CONSENSUS'].fillna(0)
    
    total = pd.concat([total,j], axis = 1 )
    total = total.rename(columns={"CONSENSUS": str(column)+'CONSENSUS'})

    total
total['country'] = total['file_x'][0:2]